# folders
.venv
.vscode
env

# files
# IGOR Pro Binary Wave Data format.
*.ibw
*.nix
*.ns2
# result files
*.json
*.npz
*.pdf

# stdout and stderr files
**/o.txt
**/e.txt

# Python
__pycache__
*.ipynb
