python3-pip
wget
curl
unzip
language-pack-en
libx11-dev
gettext
xterm
x11-apps
csh
tcsh
file
bc
xorg
xorg-dev
xserver-xorg-video-intel
libncurses5
libdrm2
libegl1
libgl1
libglib2.0-0
libglu1-mesa
libglu1
libglvnd0
libglx0
libice6
libjpeg62
libopengl0
libsm6
libwayland-client0
libwayland-cursor0
libx11-xcb1
libxcb-icccm4
libxcb-image0
libxcb-keysyms1
libxcb-randr0
libxcb-render-util0
libxcb-render0
libxcb-shape0
libxcb-shm0
libxcb-sync1
libxcb-util1
libxcb-xfixes0
libxcb-xinerama0
libxcb-xinput0
libxcb-xkb1
libxext6
libxft2
libxi6
libxkbcommon-x11-0
libxkbcommon0
libxmu6
libxrender1
libxss1
libxt6
connectome-workbench
datalad